[target.xtensa-esp32s3-none-elf]
runner    = "probe-rs run  --preverify --always-print-stacktrace"
#runner = "espflash flash -M --erase-parts=otadata --log-format=defmt --partition-table partitions.csv -s 8mb"
rustflags = [
  "-C", "link-arg=-nostartfiles",
  "-C", "link-arg=-Wl,-Tlinkall.x",
]

[target.riscv32imac-unknown-none-elf]
runner    = "probe-rs run --preverify --always-print-stacktrace"
#runner = "espflash flash -M --erase-parts=otadata --log-format=defmt --partition-table partitions.csv -s 8mb"
rustflags = [
  "-C", "force-frame-pointers",
  "-C", "link-arg=-Tlinkall.x",
]

[alias]
xtask = "run --package xtask --"
xcheck = "xtask check"
xtest = "xtask test"
xclippy = "xtask extra-check"
xbuild = "xtask build"
xrun = "xtask run"
xdoc = "xtask doc"
example = "xtask example"
monitor = "xtask monitor"

[env]
DEFMT_LOG = "card_io_fw=debug,info"
ESP_ALLOC_CONFIG_HEAP_ALGORITHM = "LLFF"
