name: Build firmware

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '.github/**'
      - '.vscode/**'

env:
  CARGO_TERM_COLOR: always
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}

jobs:
  build-fw:
    strategy:
      matrix:
        version: ["v6c6", "v8s3"]

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: esp-rs/xtensa-toolchain@v1.6
        with:
          default: true
          buildtargets: esp32s3
          version: "1.92.0.0"
          ldproxy: false
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: clippy, rustfmt, rust-src
      - uses: Swatinem/rust-cache@v2

      - uses: cargo-bins/cargo-binstall@main
      - name: setup espflash
        run: cargo binstall --no-confirm --force cargo-espflash

      - name: format check
        run:
          cargo fmt --check

      - name: build
        run: |
          cargo xbuild ${{ matrix.version }} --with-wifi

      - name: archive
        uses: actions/upload-artifact@v6
        with:
          name: card_io_fw_${{ matrix.version }}.bin
          path: target/card_io_fw.bin
