name: PR checks

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main

env:
  CARGO_TERM_COLOR: always
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  check:
    strategy:
      matrix:
        version: ["v6c6", "v8s3"]

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: esp-rs/xtensa-toolchain@v1.6
        with:
          default: true
          buildtargets: esp32s3
          version: "1.92.0.0"
          ldproxy: false
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: clippy, rustfmt, rust-src
      - uses: Swatinem/rust-cache@v2

      - name: format check
        run: cargo fmt --check

      - name: check
        run: cargo xcheck ${{ matrix.version }}

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: esp-rs/xtensa-toolchain@v1.6
        with:
          default: true
          buildtargets: esp32s3
          version: "1.92.0.0"
          ldproxy: false
      - uses: Swatinem/rust-cache@v2

      - name: test
        run: cargo xtask test
